<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainBase}">
<head>
  <meta charset="UTF-8">
  <title>프로필 편집</title>
  <title>프로필</title>
  <link rel="stylesheet" href="/css/member/myPage/myPage.css">
  <link rel="stylesheet" href="/css/member/myPage/editMyPage.css">
</head>
<body>
<!-- 마이페이지 본문 -->
<main layout:fragment="main">
  <form name="editProfileForm" enctype="multipart/form-data" th:method="patch">
    <div id="coverImg">
      <input type="file" name="coverImg" class="coverImgModify" multiple="multiple">
      <img th:if="${myPageMember.coverImg != null}" th:src="|/test/file/${myPageMember.coverImg}|" alt="커버 사진" class="coverImgTag">
      <img th:if="${myPageMember.coverImg == null}" alt="커버 사진"  class="coverImgTag nullImg">
      <span class="ImgModifyBtn">
        <ion-icon name="image-outline"></ion-icon>
      </span>
    </div>
    <div id="content">
      <div id="myPageInfo">
        <p class="mProfileImg">
          <input type="file" name="profileImg" class="profileImgModify" multiple="multiple">
          <img th:if="${myPageMember.profileImg != null && #strings.contains(myPageMember.profileImg,'://')}" th:src="${myPageMember.profileImg}" alt="프로필 이미지" class="profileImgTag">
          <img th:unless="${myPageMember.profileImg == null || #strings.contains(myPageMember.profileImg,'://')}" th:src="|/test/file/${myPageMember.profileImg}|" alt="프로필 이미지" class="profileImgTag">
          <img th:if="${myPageMember.profileImg == null}" alt="프로필 이미지" class="profileImgTag nullImg">
          <span class="ImgModifyBtn">
            <ion-icon name="image-outline"></ion-icon>
          </span>
        </p>
        <div class="memberInfo">
          <h3>
            <input type="text" name="nickName" class="mNickName" th:value="${myPageMember.nickName}" maxlength="30" placeholder="@로 시작하는 닉네임">
            (<input type="text" name="name" class="mName" th:value="${myPageMember.name}" maxlength="12" placeholder="이름">)
            <button type="button" name="nickNameDuplCheck" class="nickNameDuplCheck">닉네임 중복 확인</button>
          </h3>
          <textarea type="text" name="profile" class="mProfile" th:text="${myPageMember.profile}" maxlength="100" placeholder="자기소개를 입력해주세요 .."></textarea>
        </div>
        <button type="button" name="editSubmitBtn" class="editSubmitBtn">수정하기</button>
        <button type="button" name="editCancelBtn" class="editCancelBtn">취소</button>
      </div>
    </div>
  </form>
</main>

<th:block layout:fragment="scripts">
<script src="/js/members/myPage/editMyPage.js"></script>
</th:block>
</body>
</html>