<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainBase}">
<head>
  <title>상세 정보 페이지</title>
  <link rel="stylesheet" href="/css/member/myPage/myPage.css">
  <link rel="stylesheet" href="/css/member/myPage/myPageDetail.css">

</head>
<body>
<!-- 마이페이지 본문 -->
<main layout:fragment="main">
  <div id="coverImg">
    <img th:if="${myPageMember.coverImg != null}" th:src="|/upload/${myPageMember.coverImg}|" alt="커버 사진">
  </div>
  <!--회원정보-->
  <div id="content-wrap">
    <div id="content">
      <div id="myPageInfo">
        <p class="mProfileImg">
          <img th:if="${myPageMember.profileImg != null && #strings.contains(myPageMember.profileImg,'://')}" th:src="${myPageMember.profileImg}" alt="프로필 이미지">
          <img th:unless="${myPageMember.profileImg == null || #strings.contains(myPageMember.profileImg,'://')}" th:src="|/upload/${myPageMember.profileImg}|" alt="프로필 이미지">
          <img th:if="${myPageMember.profileImg == null}" src="/img/profileImg/default_profile.png" alt="기본 이미지">
        </p>
        <div class="memberInfo">
          <h3>
            <span class="mNickName" th:text="${myPageMember.nickName}">@hyea._.hyun</span>
            (<span class="mName" th:text="${myPageMember.name}">김혜현</span>)
          </h3>
          <p class="mProfile" th:text="${myPageMember.profile}">인생은 고기서 고기 :)</p>
        </div>
      </div>
    </div>
  </div>

  <!--  세부 사항 -->
  <div id="detail-info">
    <table class="detail-info-table">
      <tr>
        <th class="info-list">이메일</th>
        <td class="info-value email-value" th:text="${memberDetailInfo.email}"></td>
        <td></td>
      </tr>
      <tr>
        <th class="info-list">휴대폰 번호</th>
        <td class="info-value" th:text="${memberDetailInfo.contact}"></td>
        <td>
          <button th:if="${memberDetailInfo.contact == null}" class="detail-info-button active-btn sms-auth-Btn">인증하기</button>
          <button th:unless="${memberDetailInfo.contact == null}" class="detail-info-button contact-verified">인증완료</button>
        </td>
      </tr>
      <th:block th:if="${!#strings.equals(memberDetailInfo.email, 'KAKAO Login') && !#strings.equals(memberDetailInfo.email, 'NAVER Login')}">
        <tr>
          <th class="info-list">비밀번호</th>
          <td class="info-value"></td>
          <td>
            <button class="detail-info-button active-btn change-passwd">변경하기</button>
          </td>
        </tr>
      </th:block>
      <tr>
        <th class="info-list"></th>
        <td class="info-value"></td>
        <td>
          <button class="detail-info-button withdrawal-btn">회원탈퇴</button>
        </td>
      </tr>
    </table>
  </div>

</main>
<!--  비밀번호 관련 Modal -->
<div  layout:fragment="modal" id="detail-page-modal" class="not-active detail-page-modal">
  <form name="modalForm">
    <div class="password-wrap detail-modal-wrap">
      <label>비밀번호 확인</label>
      <input type="password" name="passwd" class="passwd detail-modal-input" placeholder="비밀번호">
    </div>
  </form>
  <div class="popup-close-btn-wrap">
    <ion-icon class="popup-close-btn withdrawal-close-btn" name="close-circle-outline"></ion-icon>
  </div>
</div>
<!-- 휴대폰 번호 관련 Modal -->
<div  layout:fragment="modal_2" id="detail-page-modal-2" class="not-active detail-page-modal">
  <form name="smsAuthForm">
    <div class="sms-wrap detail-modal-wrap">
      <label>문자 인증</label>
      <input type="text" name="tel" class="numInput detail-modal-input" placeholder="번호 입력(-없이 입력)" maxlength="11">
      <input type="text" name="authCode" class="numInput detail-modal-input not-active" placeholder="인증 번호 입력" maxlength="6">
    </div>
  </form>
  <div class="popup-close-btn-wrap">
    <ion-icon class="popup-close-btn smsModal-close-btn" name="close-circle-outline"></ion-icon>
  </div>
</div>

<th:block layout:fragment="scripts">
  <script src="/js/members/myPage/myPage.js"></script>
  <script src="/js/members/myPage/myPageDetail.js"></script>
  <script src="/js/members/myPage/changePW.js"></script>
  <script src="/js/members/myPage/smsAuth.js"></script>
</th:block>
</body>
</html>