<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainBase}">
<head>
  <title>마이페이지</title>
  <link rel="stylesheet" href="/css/member/myPage/myPage.css">
  <link rel="stylesheet" href="/css/article/article/article.css">
  <link rel="stylesheet" href="/css/article/article/articleListImg.css">

</head>
<body>
<!-- 마이페이지 본문 -->
<main layout:fragment="main">
  <div id="coverImg">
    <img th:if="${myPageMember.coverImg != null}" th:src="|/test/file/${myPageMember.coverImg}|" alt="커버 사진">
  </div>
  <div id="content" th:attr="data-memberid=${myPageMember.id}">
    <div id="myPageInfo">
      <p class="mProfileImg">
        <img th:if="${myPageMember.profileImg != null && #strings.contains(myPageMember.profileImg,'://')}" th:src="${myPageMember.profileImg}" alt="프로필 이미지">
        <img th:unless="${myPageMember.profileImg == null || #strings.contains(myPageMember.profileImg,'://')}" th:src="|/test/file/${myPageMember.profileImg}|" alt="프로필 이미지">
        <img th:if="${myPageMember.profileImg == null}" src="/img/profileImg/default_profile.png" alt="기본 이미지">
      </p>
      <div class="memberInfo">
        <h3>
          <span class="mNickName" th:text="${myPageMember.nickName}">@hyea._.hyun</span>
          (<span class="mName" th:text="${myPageMember.name}">김혜현</span>)
<!--        <button class="detailInfo" th:if="${member.nickName == myPageMember.nickName}">상세정보</button>-->
        <button class="followBtn" onclick="" th:if="${member.nickName != myPageMember.nickName}">팔로우</button>
        </h3>
        <p class="mProfile" th:text="${myPageMember.profile}">상태글</p>
      </div>
      <div class="ellipsis-btn-wrap">
        <span class="ellipsis-btn">
            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </span>
        <ul class="ellipsis-content">
          <li th:if="${member.nickName == myPageMember.nickName}"><a href="#" class="editMyPage">프로필 편집</a></li>
          <li th:unless="${member.nickName == myPageMember.nickName}"><a href="#">차단하기</a></li>
          <li th:unless="${member.nickName == myPageMember.nickName}"><a href="#">팔로잉</a></li>
        </ul>
      </div>
    </div>

<!--  리뷰글 공간 -->
    <!--form에서 method:delete방식으로 전송하기 위한 방법-->
    <form name="articleUpdateForm" method="post">
      <input type="hidden" name = "_method" value = "delete"/>
    </form>

    <div id="reviewWrap">
      <form>
        <input type="hidden" name="lastArticleId">
      </form>
      <ul id="article-list"></ul>
    </div>
  </div>

</main>

<th:block layout:fragment="scripts">
  <script src="/js/members/myPage/myPage.js"></script>
  <script src="/js/articles/welcome/ellipsis.js"></script>
  <script src="/js/articles/article/articleImgRatio.js"></script>
  <script src="/js/articles/article/articleListImg.js"></script>
  <script src="/js/articles/article/report.js"></script>
  <script src="/js/members/myPage/myPageArticles.js"></script>
  <script src="/js/members/myPage/myPageMine.js"></script>
  <script src="/js/articles/welcome/paging/scrollEvent.js"></script>
  <script src="/js/articles/welcome/followAndDelete.js"></script>
</th:block>
</body>
</html>