<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainBase}">
<head>
  <title>마이페이지</title>
  <link rel="stylesheet" href="/css/member/myPage/myPage.css">
  <link rel="stylesheet" href="/css/article/article/article.css">
  <link rel="stylesheet" href="/css/article/article/articleListImg.css">

</head>
<body>
<!-- 마이페이지 본문 -->
<main layout:fragment="main">
  <div id="coverImg">
    <img th:if="${myPageMember.coverImg != null}" th:src="|/test/file/${myPageMember.coverImg}|" alt="커버 사진">
  </div>
  <div id="content-wrap">
    <div id="content" th:attr="data-memberid=${myPageMember.id}">
      <div id="myPageInfo">
        <p class="mProfileImg">
          <img th:if="${myPageMember.profileImg != null && #strings.contains(myPageMember.profileImg,'://')}" th:src="${myPageMember.profileImg}" alt="프로필 이미지">
          <img th:unless="${myPageMember.profileImg == null || #strings.contains(myPageMember.profileImg,'://')}" th:src="|/test/file/${myPageMember.profileImg}|" alt="프로필 이미지">
          <img th:if="${myPageMember.profileImg == null}" src="/img/profileImg/default_profile.png" alt="기본 이미지">
        </p>
        <div class="memberInfo">
          <h3>
            <span class="mNickName" th:text="${myPageMember.nickName}">@hyea._.hyun</span>
            (<span class="mName" th:text="${myPageMember.name}">김혜현</span>)
            <!--        <button class="detailInfo" th:if="${member.nickName == myPageMember.nickName}">상세정보</button>-->
<!--            <button class="followBtn" onclick="" th:if="${member.nickName != myPageMember.nickName}">팔로우</button>-->
          </h3>
          <p class="mProfile" th:text="${myPageMember.profile}">상태글</p>
        </div>
        <div class="ellipsis-btn-wrap">
        <span class="ellipsis-btn" onclick="ellipsisToggle(this)">
            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </span>
          <ul class="ellipsis-content">
            <!--자신이 자신의 마이페이지에 들어왔을 경우-->
            <th:block th:if="${member.nickName == myPageMember.nickName}">
              <li>
                <div class="editMyPage">
                  <ion-icon name="person-circle-outline"></ion-icon>
                  <a href="#">프로필 편집</a>
                </div>
              </li>
            </th:block>

            <!--자신이 다른사람의 마이페이지에 들어왔을 경우-->
            <th:block th:unless="${member.nickName == myPageMember.nickName}">
              <!--팔로잉하지 않은 유저의 마이페이지에 들어왔을 경우-->
              <li class="followingBtnWrap" th:unless="${isFollowingMember}">
                <div th:memberId="${session.memberId}"
                     th:myPageMemberId="${myPageMember.id}"
                     th:myPageMemberNickName="${myPageMember.nickName}"
                     th:onclick="myPagefollowing(this.getAttribute('memberId'),
                                           this.getAttribute('myPageMemberId'),
                                           this.getAttribute('myPageMemberNickName'))">
                  <ion-icon name="person-add-outline"></ion-icon>
                  <span>팔로잉</span>
                </div>
              </li>
              <!--팔로잉한 유저의 마이페이지에 들어왔을 경우-->
              <li class="followingBtnWrap" th:if="${isFollowingMember}">
                <div th:memberId="${session.memberId}"
                     th:myPageMemberId="${myPageMember.id}"
                     th:myPageMemberNickName="${myPageMember.nickName}"
                     th:onclick="myPagefollowCancel(this.getAttribute('memberId'),
                                           this.getAttribute('myPageMemberId'),
                                           this.getAttribute('myPageMemberNickName'))">
                  <ion-icon name="person-remove-outline"></ion-icon>
                  <span>팔로잉 취소</span>
                </div>
              </li>
              <!--차단하기-->
              <li>
                <div th:blockedMemberId="${myPageMember.id}"
                     th:blockedMemberNickName="${myPageMember.nickName}"
                     th:onclick="blockMemberAndHref(this.getAttribute('blockedMemberId'),
                                            this.getAttribute('blockedMemberNickName'))">
                  <ion-icon name="ban-outline"></ion-icon>
                  <a href="#">차단하기</a>
                </div>
              </li>
            </th:block>


          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="review-container">
    <input type="hidden" name="lastArticleId">
    <!--js로 게시글들을 넣어줌-->
    <ul id="article-list">
    </ul>
  </div>

</main>

<th:block layout:fragment="scripts">
  <script>
    let isMyPage = [[${member.nickName == myPageMember.nickName}]]
    console.log("isMyPage",isMyPage);
    let myPageMemberId = [[${myPageMember.id}]];
    console.log("myPageMemberId",myPageMemberId);
  </script>
  <script src="/js/members/myPage/myPage.js"></script>
  <script src="/js/members/myPage/myPageArticles.js"></script>
  <script src="/js/articles/welcome/paging/scrollEvent.js"></script>
</th:block>
</body>
</html>