main{
    height: 100vh;
    background: var(--block-background);
}
#coverImg {
    position: relative;
}
#myPageInfo{
    display: flex;
    flex-direction: column;
}

#coverImg .nullImg,
#myPageInfo .nullImg {
    display: none;
}

#myPageInfo input[type=text],
#myPageInfo textarea {
    border: 1px solid #484848;
    padding: 5px;
    border-radius: 5px;
}

#myPageInfo input[name=name] {
    width: 100px;
}

#myPageInfo textarea.mProfile{
    width: 100%;
    resize: none;
    height: 59px;
    outline: none;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    max-height: 330px;
    border: 1px solid #bfbfbf;
    font-family : 'Lato', 'Noto Sans KR', sans-serif;
}
#myPageInfo textarea.mProfile::placeholder{
    color: #b3b3b3;
}
#myPageInfo textarea.mProfile:is(:focus, :valid){
    padding: 14px;
    border: 1px solid #484848;
}
#myPageInfo textarea.mProfile::-webkit-scrollbar{
    width: 0px;
}

#myPageInfo .profileImgModify,
#coverImg .coverImgModify {
    position: absolute;
    visibility: hidden;
}

/* 이미지 비율깨져서 추가했습니다 */
#coverImg .coverImgTag{
    object-fit: cover;
}

.ImgModifyBtn {
    width: 40px; height: 40px;
    display: flex; align-items: center; justify-content: center;
    border: 1px solid var(--light-gray);
    border-radius: 100%;
    position: absolute;
    bottom: 15%; right: 15%;
    background-color: var(--white-color);
    cursor: pointer;
}
.ImgModifyBtn ion-icon {
    font-size: 30px;
    color: #808080;
}

/*#myPageInfo textarea {*/
/*    font-size: 16px;*/
/*    height: 70px;*/
/*}*/



#myPageInfo .editSubmitBtn,
#myPageInfo .editCancelBtn{
    float: right;
    width: 100px; padding: 5px 0; margin: 5px;
    border-radius: 5px;
    background-color: var(--search-btn-background);
    color: var(--white-color);
    cursor: pointer;
}
#myPageInfo .nickNameDuplCheck {
    width: 150px; padding: 5px 0; margin: 5px;
    border-radius: 5px;
    background-color: var(--hot-pink-color);
    color: var(--white-color);
    cursor: pointer;
}

#myPageInfo .editCancelBtn {
    background-color: var(--error-color);
}