#detail-info {
    margin: 20px auto;
    width: 600px;
}
#detail-info table {
    width: 100%;
}
#detail-info table th,
#detail-info table td {
    /*border: 1px solid #000;*/
    height:50px; width:120px;
    text-align: center;
}
#detail-info button {
    cursor: pointer;
}
#detail-info .detail-info-button {
    width: 100px;
    border-radius: 5px;
    padding: 5px 0;
    color: var(--white-color);
}
#detail-info .active-btn {
    background-color: var(--search-btn-background);
}
#detail-info .withdrawal-btn {
    background-color: var(--error-color);
}

/* 모달 */
.detail-page-modal{
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 400px; height: 200px;
    background-color: var(--white-color);
    /*border: 3px solid #000;*/
    border-radius: 10px;
}
.detail-page-modal form {
    height: 100%;
}
.detail-page-modal .detail-modal-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.detail-page-modal .detail-modal-wrap > * {
    padding: 10px;
    width: auto;
    flex: 1;
}
.detail-page-modal .detail-modal-wrap label {
    background-color: var(--hot-pink-color);
    color: var(--white-color);
}
.detail-page-modal .detail-modal-wrap .detail-modal-input {
    margin: 10px;
    border-bottom: 2px solid var(--hot-pink-color);
}
.detail-page-modal button {
    margin: 5px;
    border-radius: 5px;
    background-color: var(--hot-pink-color);
    color: var(--white-color);
    cursor: pointer;
}
.detail-page-modal.not-active,
.detail-page-modal .not-active{
    display: none;
}
.detail-page-modal .popup-close-btn-wrap {
    cursor: pointer;
}