main{
    position:relative;
    width:100%;
}
.main-background{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background: url("/img/articles/restaurant1.jpg") center center / cover;
    z-index: -100;
}
.main-background::after{
    content:"";
    position:fixed;
    width:100%;
    height:100vh;
    background: rgba(0,0,0,0.5);
    z-index: -99;
}
/******검색 컨텐츠******/
#search-section{
    position:relative;
    z-index:999;
    width:var(--max-width);
    margin:0 auto;
    padding-top:10px;
}
/*라디오 버튼*/
.radio-tile-group {
    position:relative;
    display: flex;
    flex-wrap: wrap;
    max-width: var(--middle-width);
    width:100%;
    margin:0 auto;
    z-index: 10;
}
.input-container-interLocal-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.input-container-interLocal-wrap .inter-delete-btn{
    font-size: 2.5rem;
    color:var(--hot-pink-color);
    transition: color 0.5s;
    cursor: pointer;
}
.input-container-interLocal-wrap .inter-delete-btn:hover{
    color:var(--white-color);
}

.input-container {
    position: relative;
    height: 3rem;
    margin: 0.5rem;
}
.input-container-interLocal{
    display: flex;
    align-items: center;
    border: 2px solid var(--hot-pink-color);
    border-radius: 8px;
}

.input-container input {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}
.input-container .radio-tile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    border: 2px solid var(--hot-pink-color);
    border-radius: 8px;
    transition: all 300ms ease;
}
.input-container .radio-title-local{
    border: 0px;
}

.input-container ion-icon {
    padding:0 10px;
    color: var(--hot-pink-color);
    font-size: 2rem;
}


.input-container ion-icon:last-child{
    padding:0px;
    margin-right:10px;
    font-size: 2rem;
    position:relative;
    z-index: 3;
}


.input-container label {
    padding-right:10px;
    color: var(--hot-pink-color);
    font-size: 0.80rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

input:checked+.radio-tile {
    background-color: var(--hot-pink-color);
    box-shadow: 0 0 12px var(--hot-pink-color);
    transform: scale(1.1);
}

input:hover+.radio-tile {
    box-shadow: 0 0 12px var(--hot-pink-color);
}

input[id='local']:hover + .radio-tile{
    box-shadow: none;
}

input:checked+.radio-tile ion-icon,
input:checked+.radio-tile label {
    color: white;
}

input[id='local']:checked+.radio-tile ion-icon,
input[id='local']:checked+.radio-tile label{

}


.input-container .category-drop-list{
    position: absolute;
    top:3rem;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    height: 0px;
    overflow: hidden;
    background-color:var(--hot-pink-color);
    transition:height 0.5s;
}

.category-drop-list.max-height-0{
    max-height:0;
}

.input-container .category-drop-list > li{
    font-size:0.9rem;
    font-weight: 500;
    padding:0.4rem 2rem 0.4rem 1rem;
    width:130px;
    cursor:pointer;
    color:var(--drop-down-color);
    transition: text-indent 0.2s ease, color 0.2s ease;
}

.input-container .category-drop-list > li:hover{
    text-indent:0.5rem;
    color:var(--white-color);
}

/*검색창*/
.search-bar{
    width: 100%;
    max-width: var(--middle-width);
    margin:10px auto 0;
    background:rgb(255,255,255,0.2);
    display: flex;
    align-items:center;
    border-radius: 60px;
    padding: 10px 10px;
    /*배경이 흐리게 보이게하기위함*/
    backdrop-filter: blur(4px) saturate(180%);
}

/* 드롭다운 */
.dropdown{
    position:relative;
    width:150px;
    border-radius: 70px;
    background-color:var(--hot-pink-color);
    box-shadow: var(--shadow);
    cursor: pointer;
}

.dropdown-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size:1rem;
    font-weight: 500;
    color:var(--white-color);
    padding:1.2rem 1.5rem;
}
.dropdown-list{
    position: absolute;
    top:4rem;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    border-radius: 25px;
    max-height: 0;
    overflow: hidden;
    background-color:var(--hot-pink-color);
    transition:max-height 0.5s;
}
#list.show{
    max-height: 300px;
}
.dropdown-list-item{
    font-size:0.9rem;
    font-weight: 500;
    padding:1rem 0 1rem 1.5rem;
    cursor:pointer;
    color:var(--drop-down-color);
    transition: margin-left 0.2s ease, color 0.2s ease;
}
.dropdown-list-item:first-child{
    margin-top: 10px;
}
.dropdown-list-item:last-child{
    margin-bottom: 10px;
}

.dropdown-list-item:hover{
    margin-left:0.5rem;
    color:var(--white-color);
}
.search-box{
    display:flex;
    align-items: center;
    padding-right:1rem;
    width:100%;
    color: var(--hot-pink-color);
    font-weight: 500;
}
.search-box input{
    padding:1rem;
    width:100%;
    font-size:1rem;
    font-weight:500;
    color:var(--hot-pink-color);
    border:0;
    outline: 0;
}

.search-box i{
    font-size:1.3rem;
    cursor:pointer;
}

.search-box input::placeholder{
    font-size:1rem;
    font-weight: 500;
    color:var(--hot-pink-color);
}

.search-bar .search-input{
    background: transparent;
    flex: 1;
    border:0;
    outline: none;
    padding:10px 20px;
    font-size: 20px;
    color:var(--white-color);
}

::placeholder{
    color:var(--white-color);
}

.search-bar .search-button{
    border: 0;
    border-radius: 50%;
    width:60px;
    height:60px;
    background: var(--hot-pink-color);
    cursor: pointer;
    color:#FFFFFF;
}

.search-bar .search-button ion-icon{
    font-size: 25px;
}

/******* 게시글 리스트 *******/
#article-section{
    position:relative;
    z-index:10;
}
#article-list{
    display: flex;
    position:relative;
    z-index: 10;
    justify-content: center;
    flex-direction: column;
    background: var(--light-pink-background-color);

    max-width: var(--middle-width);
    margin:20px auto 0;
    background: var(--article-list-background);
}

.article-wrap {
    background: var(--light-pink-background-color);
    position: relative;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}
/* 글쓴이 정보 */
.article-wrap .writerInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-size: 16px;
}
.writerInfo .writerProfileImg {
    width: 100px; height: 100px;
    border-radius: 100%;
    border: 1px solid var(--side-nav-border-color);
    background-color: var(--light-gray);
    overflow: hidden;
}
.writerInfo .writerProfileImg img {
    width: 100%; height: 100%;
}
.writerInfo .user-info {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.user-info{
    display: flex;
    flex-direction: column;
}
.writer-name{
    display: flex;
    align-items: center;
}
.writer-name .writerNickName{
    font-size: 24px;
    margin-left:5px;
}
.writer-name .writerName{
    font-size: 16px;
}
.writtenAt{
    margin-left:5px;
    margin-top:5px;
}



/* 글 본문 */
.contentWrap {
    overflow: hidden;
    display: flex; flex-direction: column;
    cursor: pointer;
}
.contentWrap .bImg {
    width:100%;
    border-radius: 20px;
    overflow: hidden;
}
.contentWrap .bImg li img {
    width: 100%;
    object-fit: cover;
}
/*  좋아요 & 태그 */
.likeAndTag {
    display: flex;
    align-items: center;
    gap: 15px;
}
.likeAndTag .likeWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.likeBtn {
    display: block;
    width: 16px; height: 16px;
    text-indent: -9999px;
    background: url("/img/button/loveBtn.png") no-repeat center / contain;
    cursor: pointer;
}
.likeNum {
    font-size: 10px;
}
.isLikedArticle{
    background: url("/img/button/loveBtn_Fill.png") no-repeat center / contain;
}

/* 더보기 버튼 */
.ellipsis-btn-wrap{
    position:absolute;
    top:10px;
    right:0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.ellipsis-btn-wrap .ellipsis-btn{
    font-size:  30px;
    cursor: pointer;
}
.ellipsis-btn-wrap .ellipsis-content{
    display: none;
}
.ellipsis-btn-wrap .active{
    display: flex;
    background: #FFFFFF;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border:1px solid var(--ellipsis-color);
    border-radius: 20px;
}

.ellipsis-btn-wrap .active  li{
    width:150px;
    line-height:50px;
    border-bottom:1px solid var(--ellipsis-color);
}
.ellipsis-btn-wrap .active li > div{
    display: flex;
    align-items: center;
    transition:0.2s;
    color:var(--ellipsis-text-color);
}
.ellipsis-btn-wrap .active li > div:hover {
    transform: translateX(15px);
    color:var(--hot-pink-color);
}
.ellipsis-btn-wrap .active  li ion-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 5px;
}
.ellipsis-btn-wrap .active > li:last-child{
    border-bottom:0px;
}

/* 검색,페이징으로 인해 동적으로 생기는 요소 */
.no-more-article-message p{
    padding: 20px 0;
    text-align: center;
}

.no-search-message{
    padding: 20px 0;
    text-align: center;
}
