#wrap{
    width:100%;
    height:100vh;
}
#wrap .section-wrap{
    margin : 0 auto;
    max-width:1280px;
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.login-form{
    position:relative;
    width:520px;
    height:var(--login-height);
    background: var(--light-gray);
    border-radius: 8px;
    overflow:hidden;
}
.login-form::before{
    content:"";
    position:absolute;
    top:-50%;
    left:-50%;
    width:380px;
    height:var(--login-height);
    background:linear-gradient(0deg,transparent,var(--hot-pink-color),var(--hot-pink-color));
    transform-origin: bottom right;
    animation:animate 6s linear infinite;
}
.login-form::after{
    content:"";
    position:absolute;
    top:-50%;
    left:-50%;
    width:380px;
    height:var(--login-height);
    background:linear-gradient(0deg,transparent,var(--hot-pink-color),var(--hot-pink-color));
    transform-origin: bottom right;
    animation:animate 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animate{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
form{
    position:absolute;
    inset:2px;
    border-radius: 8px;
    background:var(--login-form-background);
    z-index:10;
    padding:50px 40px;
    display:flex;
    flex-direction: column;
    overflow: scroll;

}
form::-webkit-scrollbar {
    display: none;
}

form h1{
    font-size: 42px;
    text-align: center;
    color : var(--pink-color);
}
form h1 img{
    width:200px;
}
.email-input-box{
    display:flex;
    align-items:end;
}
.email-certification-btn{
    font-size:0.8em;
    width: 100px;
    height:44px;
    background: var(--pink-color);
    border-radius:4px;
    color:var(--white-color);
    cursor:pointer;
}
.email-input-box .inputBox{
    margin-right:5px;
}
.inputBox{
    position:relative;
    width:100%;
    margin-top:35px;
}
.inputBox input{
    position:relative;
    width:100%;
    padding:20px 10px 10px;
    background:transparent;
    border:none;
    outline:none;
    color:#FFFFFF;
    font-size:1em;
    letter-spacing:0.05em;
    z-index: 10;
}
.inputBox span{
    position:absolute;
    left:0;
    padding:20px 10px 10px;
    font-size:1em;
    color:var(--pink-color);
    pointer-events:none;
    letter-spacing: 0.05em;
    transition:0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
    color:var(--pink-color);
    transform:translateY(-34px);
    font-size:0.75em;
}
.inputBox i{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:2px;
    background:var(--pink-color);
    border-radius:4px;
    transition:0.5s;
    pointer-events:none;
    z-index:9;
}
.inputBox input:valid ~ i,
.inputBox input:focus ~ i{
    height:44px;
}
input[type="button"]{
    border:none;
    outline:none;
    background:var(--pink-color);
    padding:11px 25px;
    width:100%;
    margin-top:50px;
    border-radius:5px;
    font-weight:500;
    cursor:pointer;
    color: #FFFFFF;
}

