<!--헤더랑 푸터는 모든 사이트에서 동일 할 경우 여기서 공통 부분을 작성함-->
<!DOCTYPE html>
<html xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>base</title>
    <!-- 공통 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/include/sideNav.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/include/popup.css}">
    <link rel="stylesheet" th:href="@{/css/include/searchMap.css}">
    <link rel="stylesheet" th:href="@{/css/include/kakaoCSS.css}">
</head>
<body>
<div id="wrap">
    <div id="sideNav">
        <h1 class="logo"><a href="#">Maturi</a></h1>
        <div id="gnbWrap">
            <h2 class="mProfileImg"><img th:src="${member.profileImg}" alt="프로필 이미지"></h2>
            <div class="memberInfo">
                <h3 class="mName" th:text="${member.name}">김혜현</h3>
                <span class="mNick" th:text="${member.nickName}">@hyea._.hyun</span>
            </div>
            <nav id="gnb">
                <ul>
                    <li><a href="#" onclick="popupToggle()">리뷰 쓰기</a></li>
                    <li><a href="#">지도로 보기</a></li>
                    <li><a href="#">팔로우/팔로잉</a></li>
                </ul>
            </nav>
            <div id="snb">
                <ul class="subContent">
                    <li><a href="#">설정</a></li>
                    <li><a class="logout-btn" href="#">로그아웃</a></li>
                    <form name="logoutForm"></form>
                </ul>
                <footer>
                    <ul>
                        <li>
                            <span>김혜현</span>
                            <span>오원택</span>
                        </li>
                        <li><a href="#">Github</a></li>
                    </ul>
                </footer>
            </div>
        </div>
    </div>
    <th:block layout:fragment="main"></th:block>

</div>

<div layout:fragment="popup" id="popup" >
    <div id="popupContent">
        <!--    지역 선택 태그 -->
        <form name="nsdiSearchForm" id="nsdiSearchForm" action="#" class="form_data" onsubmit="return false;search();">
            <select id="sido_code" name="sido_code">
                <option>지역 선택</option>
            </select>
            <select id="sigoon_code" name="sigoon_code">
                <option>지역 선택</option>
            </select>
            <select id="dong_code" name="dong_code">
                <option>지역 선택</option>
            </select>
        </form>
        <!-- 맵에 해당 지역 찾아서 표시 -->
        <div id="map_wrap">
            <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>

            <div id="menu_wrap" class="bg_white">
                <div class="option">
                    <div>
                        <form onsubmit="searchPlaces(); return false;">
                            키워드 : <input type="text" value="서울시청" id="keyword" size="15">
                            <button type="submit">검색</button>
                        </form>
                    </div>
                </div>
                <hr>
                <ul id="placesList"></ul>
                <div id="pagination"></div>
            </div>
        </div>
        <!-- 해당 지역 정보 -->
        <div id="rInfoWrap">
            <ul>
                <li class="placeName">가게명 : </li>
                <li class="address">도로명 주소 : </li>
                <li class="oldAddress">구주소 : </li>
                <li class="placeCategory">카테고리 : </li>
            </ul>
        </div>

        <button type="button" class="goWriteBtn">리뷰 작성</button>
    </div>
    <a href="#" onclick="popupToggle()">닫기</a>

</div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c55017f50ef814cb232fff43926363e3&libraries=services"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<script src="/js/article/welcome/popup.js"></script>
<script src="/js/nsdiSearch.js"></script>
<script src="/js/kakaoMapsSearch.js"></script>
<script src="/js/searchMap.js"></script>
<script src="/js/article/logout.js"></script>

<th:block layout:fragment="scripts"/>

</body>
</html>