<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>팔로우/팔로잉</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/include/sideNav.css">
  <link rel="stylesheet" href="/css/member/follow/follow.css">
  <script src="/js/member/follow/follow.js" defer></script>
</head>
<body>
  <div id="content">
    <input type="text" name="memberSearch" class="memberSearch" placeholder="이름으로 검색">
    <div class="selectBtn">
      <button type="button" class="follower selected">팔로워</button>
      <button type="button" class="following">팔로잉</button>
    </div>
    <div class="fMemberWrap">
<!--      팔로우 멤버 1명 -->
      <div class="fMember">
        <p class="mProfileImg"><img src="/img/test/cat.png" alt="프로필 이미지"></p>
        <div class="memberInfo">
          <h3 class="mName">
            이름
            (<span class="mNick">@test_01</span>)
          </h3>
          <p class="mProfile">상태 메세지 글입니다</p>
        </div>
        <div class="memberBtn">
          <span class="moreBtn">더보기</span>
          <ul>
            <li><a href="#">팔로잉 해제</a></li>
            <li><a href="#">신고하기</a></li>
            <li><a href="#">차단하기</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
</html>