#followPopup
{
    position: fixed;
    top:20%;
    left:50%;
    transform: translate(-50%,-50%);
    min-width: var(--follow-popup-max-width);
    height:60vh;
    width:35%;
    padding:10px 10px 10px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background-color: var(--follow-popup-background);
    visibility: hidden;
    opacity: 0;
    /*visibility: visible;*/
    /*opacity: 1;*/
    transition:0.5s;

}


#followPopup.active{
    top:45%;
    visibility: visible;
    opacity: 1;
}
#followPopupContent{
    display: flex;
    flex-direction: column;
}
/* 팔로우 팔로워 선택 */
#follow-box{
    position:relative;
    width:100%;
    padding-top:20px;
    display: flex;

}
#horizontal-under-line{
    position:absolute;
    width:50%;
    top:56px;
    left:0px;
    height:4px;
    z-index: 2;
    transition: 0.5s;
    background: var(--hot-pink-color);
}

li.follow-container{
    position: relative;
    width:50%;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.follow-container input {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}


/* 검색창 */
.follow-search-box{
    margin-top:5px;
    padding: 8px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--follow-search-input-underline-color);
    background: var(--white-color);
}
.follow-search-box #follow-search-btn{
    margin: 0 10px;
    font-size: 24px;
    cursor: pointer;
    color:var(--profile-message-color);
}
.follow-search-box #follow-search-btn ion-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar .search-input{
    background: transparent;
    flex: 1;
    border:0;
    outline: none;
    padding:10px 20px;
    font-size: 20px;
    color:var(--profile-message-color);
}

.follow-search-input::placeholder{
    color:var(--profile-message-color);
}

/* 팔로우 팔로워 목록 */
#follow-list{
    margin-top:5px;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    background: var(--white-color);
}
#follow-list::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

#follow-list .follow-item{
    width:100%;
    height:70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white-color);
}
.follow-item{
    margin: 5px 0;
    padding:0px 10px;
}
.follow-item-info{
    display: flex;
}
.follow-item-info img{
    width:70px;
    height:70px;
    border-radius: 35px;
    cursor: pointer;
}
.follow-item-profile{
    display: flex;
    margin-left:10px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.follow-item-profile .nickName{
    font-size: 1rem;
    cursor: pointer;
}
.follow-item-profile .name{
    font-size: 0.8rem;
    cursor: pointer;
}
.follow-item-profile .profile-message{
    font-size: 0.8rem;
    color:var(--profile-message-color);
    cursor: pointer;
}
.follow-item .follow-btn{
    background: var(--hot-pink-color);
    height:30px;
    padding: 0 20px;
    font-size: 0.9rem;
    border-radius: 5px;
    color:var(--white-color);
    cursor: pointer;
}

/* 닫기 버튼 */
.follow-popup-close-btn-wrap{
    position:absolute;
    top:0;
    right:0;
    transform: translateX(50%) translateY(-50%);
    width:50px;
    height:50px;
    background: var(--follow-popup-background);
    display: flex;
    border-radius: 50%;
}

.popup-close-btn{
    position:absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    width:50px;
    height:50px;
    color:var(--hot-pink-color)
}
