#popupContent {
    display: flex;
    flex-direction: column;
    margin:0 auto;
}

/* 지역 선택 */
#nsdiSearchForm {
    display: flex;
    gap: 10px;
}
#nsdiSearchForm > select {
    flex: 1;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 5px 0;
}

/* map */
#map_wrap {}

/* 선택 지역 정보 */
#rInfoWrap {
    width: 100%;
    padding:15px 0 10px;
}
#rInfoWrap ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    height:62px;
}

#rInfoWrap ul li{
    display: flex;
    width:40%;
    flex-direction: row;
}
#rInfoWrap ul li >i{
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 리뷰 작성 버튼 */
.goWriteBtn {
    background-color: var(--search-btn-background);
    color: var(--search-btn-color);
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}