@charset "utf-8";

#sideNav {
    width: var(--side-nav-width);
    top:50px;
    left:20px;
    min-height: 500px;
    position: fixed;
    transition: 0.5s;
    z-index: 9999;
}
#sideNav.close{
    width: 50px;
    top:200px;
}
#sideNav .logo {
    width: 100%;
}
#sideNav.close .logo{
    display: none;
}
#sideNav .logo a {
    width: 150px; height: 50px;
    display: block;
    margin: 0 auto 70px;
    background: url('/img/logo/logo_trans.png') no-repeat top center / contain;
    text-indent: -9999px;
}

#gnbWrap {
    width: 100%; height: 80%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--side-nav-border-color);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-pink-background-color);
}
#sideNav.close #gnbWrap{
    padding:0;
    height:inherit;
}
#gnbWrap .mProfileImg {
    width: 120px; height: 120px;
    position: absolute;
    top: -60px; left: 50%;
    transform: translateX(-50%) ;
    border-radius: 100%;
    background-color: var(--light-gray);
    border: 1px solid var(--side-nav-border-color);
    overflow: hidden;
    cursor: pointer;
}
#sideNav.close .mProfileImg{
    display: none;
}
#gnbWrap .mProfileImg img {
    width: 100%; height: 100%;
}
#gnbWrap .memberInfo {
    margin-top: 60px;
}
#sideNav.close .memberInfo{
    display: none;
}
#gnbWrap .memberInfo .mName{
    font-size: 24px;
    text-align: center;
}
#gnbWrap .memberInfo .mNick{
    text-align: center;
}
#sideNav.close #logo-small{
    display: inherit;
}
#logo-small{
    display: none;
    margin-top:10px;
    cursor: pointer;
}
#logo-small img{
    width:1.8rem;
    height: 1.8rem;
}

#sideNav.close .side-nav-toggle-btn{
    position:inherit;
    top:inherit;
    right:inherit;
    margin-top:5px;
}
.side-nav-toggle-btn{
    position:absolute;
    top:5px;
    right:7px;
    cursor: pointer;
    font-size: 2rem;
    color: #a6a6a6;
    transition: color 0.2s;
}
.side-nav-toggle-btn ion-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
#sideNav.close .side-nav-toggle-btn{
    transform: rotate(180deg);
}
.side-nav-toggle-btn:hover{
    color:var(--hot-pink-color);
}

#gnbWrap .memberInfo > * {
    cursor: pointer;
}
#gnb {
    margin-top : 50px;
    margin-bottom:100px;
}
#sideNav.close #gnb{
    margin-top : 20px;
    margin-bottom:30px;
}
#gnb ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#sideNav.close #gnb ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}
#gnb ul li a{
    display: flex;
    align-items: center;
    margin-left: 20px;
    transition: margin-left 0.2s ease, color 0.2s ease;
}
#sideNav.close #gnb ul li a{
    margin-left:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gnb ul li a:hover{
    margin-left:35px;
    color:var(--hot-pink-color);
}
#sideNav.close #gnb ul li a:hover{
    margin-left:0;
}
#gnb ul li a ion-icon{
    font-size: 1.8rem;
    margin-right : 10px;
}
#sideNav.close #gnb ul li a ion-icon{
    margin-right: 0;
}
#gnb ul li a span{
    font-size: 1rem;
}
#sideNav.close #gnb ul li a span{
    display: none;
}
footer {
    border-top: 1px solid var(--side-nav-border-color);
}
#sideNav.close footer{
    display: none;
}
footer .copy-right{
    font-size: 12px;
    color: #575757;
    text-align: center;
}
footer .copy-right ion-icon{
    margin-left:10px;
}
footer .copy-right a:hover{
    color:var(--hot-pink-color);
}
#scroll-top-btn{
    position:fixed;
    right:20px;
    bottom:0;
    font-size: 72px;
    cursor: pointer;
    transition: 0.2s ease;
    z-index: 99999999999;
    color:var(--white-color)
}
#scroll-top-btn:hover{
    color: var(--hot-pink-color);
}
