<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainBase}">
<head>
    <title>maturi 메인 페이지</title>
<!--    <link rel="stylesheet" href="/css/include/sideNav.css">-->
<!--    <link rel="stylesheet" href="/css/reset.css">-->

    <link rel="stylesheet" href="/css/article/welcome/articles.css"/>
    <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
</head>
<body>

<main layout:fragment="main">
    <div class="main-background">
    </div>
    <!--검색 컨텐츠-->
    <section id="search-section">
        <form class="container" name="articleSearchForm">
            <!--라디오 버튼들-->
            <div class="radio-tile-group">
                <div class="input-container">
                    <input id="all" type="radio" name="radioCond" value="everything" checked>
                    <div class="radio-tile">
                        <ion-icon name="globe"></ion-icon>
                        <label for="all">전체</label>
                    </div>
                </div>
                <div class="input-container">
                    <input id="follow" type="radio" name="radioCond" value="follow">
                    <div class="radio-tile">
                        <ion-icon name="people"></ion-icon>
                        <label for="follow">팔로우</label>
                    </div>
                </div>

                <div class="input-container-interLocal-wrap">
                    <div class="input-container input-container-interLocal">
                        <input id="local" type="radio" name="radioCond" value="interLocal">
                        <div class="radio-tile radio-title-local">
                            <ion-icon name="compass"></ion-icon>
                            <label for="local">관심지역</label>
                        </div>
                    </div>
                </div>


                <div class="input-container">
                    <input id="my-local" type="radio" name="radioCond" value="myLocal">
                    <div class="radio-tile">
                        <ion-icon name="location"></ion-icon>
                        <label for="my-local">현재위치</label>
                    </div>
                </div>


                <div class="input-container input-container-category">
                    <input id="category" type="radio" name="radioCond" value="category">
                    <div class="radio-tile">
                        <ion-icon name="restaurant-outline"></ion-icon>
                        <label for="category">카테고리</label>
                    </div>
                    <ul class="category-drop-list">
                        <li>선택안함</li>
                        <li>한식</li>
                        <li>양식</li>
                        <li>중식</li>
                        <li>패스트푸드</li>
                    </ul>
                </div>

                <div class="input-container">
                    <input id="like" type="radio" name="radioCond" value="like">
                    <div class="radio-tile">
                        <ion-icon name="heart-circle-outline"></ion-icon>
                        <label for="like">좋아요</label>
                    </div>
                </div>
            </div>

            <!--검색창-->
            <div class="search-bar">
                <!--드롭다운-->
                <div class="dropdown">
                    <div id="drop-text" class="dropdown-text">
                        <span id="search-cond" data-keyword-name="all">전체</span>
                        <i id="icon" class="fa-solid fa-chevron-down"></i>
                    </div>
                    <ul id="list" class="dropdown-list">
                        <li class="dropdown-list-item" data-keyword-name="all">전체</li>
                        <li class="dropdown-list-item" data-keyword-name="content" >글 내용</li>
                        <li class="dropdown-list-item" data-keyword-name="writer" >작성자</li>
                        <li class="dropdown-list-item" data-keyword-name="tag">해시태그</li>
                        <li class="dropdown-list-item" data-keyword-name="restaurantName">가게명</li>
                    </ul>
                </div>
                <input type="text" name="keyword" class="search-input" placeholder="아무 조건으로 검색하기...">
                <button class="search-button" onclick="searchKeyWord()" type="button">
                    <ion-icon name="search"></ion-icon>
                </button>
            </div>

            <input type="hidden" class="search-category-value"><!--name과 value를 동적으로 처리-->
            <input type="hidden" name="latitude">
            <input type="hidden" name="longitude">
            <input type="hidden" name="category">
        </form>
    </section>
    <!--게시글들-->
    <section id="article-section">
        <ul id="article-list">
            <li class="article-wrap">
                <!--    글쓴이 정보 -->
                <div class="writerInfo">
                    <p class="writerProfileImg"><img src="/img/test/cat.png" alt="프로필 이미지"></p>
                    <p class="written">
                        <span class="writerName">김혜현</span>
                        <span class="writtenAt">2023.03.12</span>
                    </p>
                </div>
                <!--    글 본문 -->
                <div class="contentWrap">
                    <ul class="bImg">
                        <li><img src="/img/test/food1.jpg" alt="사진1"></li>
                    </ul>
                    <p class="bContent">
                        리뷰 글 내용 리뷰 글 내용리뷰 글 내용리뷰 글 내용리뷰
                        글 내용리뷰 글 내용리뷰 글 내용리뷰 글 내용리뷰 글 내용 리뷰 글 내용리뷰
                        글 내용리뷰 글 내용리뷰 글 내용리뷰 글 내용리뷰 글 내용리뷰 글 내용리뷰
                        글 내용 리뷰 글 내용리뷰 글 내용리뷰 글 내용리뷰 글 내용리뷰 글 내용리뷰
                        글 내용리뷰 글 내용
                    </p>
                </div>
                <!--    좋아요 & 태그 -->
                <div class="likeAndTag">
                    <span class="likeWrap">
                      <span class="likeBtn">좋아요</span>
                      <span class="likeNum">20</span>
                    </span>
                    <span><a href="#">#태그1</a></span>
                    <span><a href="#">#태그2</a></span>
                    <span><a href="#">#태그3</a></span>
                </div>
                <!--     리뷰글 더보기 버튼 -->
                <div class="ellipsis-btn-wrap">
                    <span class="ellipsis-btn">
                        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                    </span>
                    <ul class="ellipsis-content">
                        <li><a href="#">게시글 수정</a></li>
                        <li><a href="#">게시글 삭제</a></li>
                        <li><a href="#">신고하기</a></li>
                    </ul>
                </div>
            </li>
            <li class="article-wrap">
                <!--    글쓴이 정보 -->
                <div class="writerInfo">
                    <p class="writerProfileImg"><img src="/img/test/rabbit.png" alt="프로필 이미지"></p>
                    <p class="written">
                        <span class="writerName">오원택</span>
                        <span class="writtenAt">2023.03.13</span>
                    </p>
                </div>
                <!--    글 본문 -->
                <div class="contentWrap">
                    <ul class="bImg">
                        <li><img src="/img/test/food2.jpg" alt="사진1"></li>
                    </ul>
                    <p class="bContent">
                        리뷰 글 내용 리뷰 글 내용리뷰 글 내용리뷰 글 내용리뷰
                        글 내용리뷰 글 내용리뷰 글 내용리뷰 글 내용리뷰 글 내용 리뷰 글 내용리뷰
                        글 내용리뷰 글 내용리뷰 글 내용리뷰 글 내용리뷰 글 내용리뷰 글 내용리뷰
                        글 내용 리뷰 글 내용리뷰 글 내용리뷰 글 내용리뷰 글 내용리뷰 글 내용리뷰
                        글 내용리뷰 글 내용
                    </p>
                </div>
                <!--    좋아요 & 태그 -->
                <div class="likeAndTag">
                    <span class="likeWrap">
                      <span class="likeBtn">좋아요</span>
                      <span class="likeNum">20</span>
                    </span>
                    <span><a href="#">#태그1</a></span>
                    <span><a href="#">#태그2</a></span>
                    <span><a href="#">#태그3</a></span>
                </div>
                <!--     리뷰글 더보기 버튼 -->
                <div class="ellipsis-btn-wrap">
                    <span class="ellipsis-btn">
                        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                    </span>
                    <ul class="ellipsis-content">
                        <li><a href="#">게시글 수정</a></li>
                        <li><a href="#">게시글 삭제</a></li>
                        <li><a href="#">신고하기</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </section>
</main>

<!--my js-->
<th:block layout:fragment="scripts">
    <script src="/js/article/welcome/ellipsis.js"></script>
    <script src="/js/article/welcome/dropdown.js"></script>
    <script src="/js/article/welcome/articleSearch.js"></script>
    <script src="/js/article/welcome/categoryDropdown.js"></script>
</th:block>
</body>
</html>