<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainBase}">
<head>
  <title>리뷰 쓰기</title>
  <link rel="stylesheet" href="/css/article/article/write.css"/>
</head>
<body>
  <div layout:fragment="main" id="content">
    <h2>리뷰 쓰기</h2>
    <form name="writeForm" th:object="${restaurant}" id="writeForm" enctype="multipart/form-data">
      <div class="inputBox imageBox">
        <!--        <button type="button" data-name="image">사진</button>-->
        <span>사진</span>
        <input type="file" name="image" multiple="multiple">
      </div>
      <div class="inputBox">
        <textarea name="content"  cols="100" rows="30" placeholder="내용 ..."></textarea>
      </div>
      <div class="inputBox tagBox">
        <div class="tagWrap">
        </div>
        <input type="hidden" name="tags">
        <input type="text" name="tag" placeholder="#태그">
      </div>

      <input type="hidden" th:field="*{name}">
      <input type="hidden" th:field="*{category}">
      <input type="hidden" th:field="*{oldAddress}">
      <input type="hidden" th:field="*{address}">
      <input type="hidden" th:field="*{latitude}">
      <input type="hidden" th:field="*{longitude}">
      <input type="button" name="submitBtn" class="submitBtn" value="업로드">
    </form>
  </div>

<th:block layout:fragment="scripts">
  <script src="/js/article/article/write.js"></script>
</th:block>
</body>
</html>