/* popupConetnt css적용 */
.popup-dropdown{
    position:relative;
    width:150px;
    border-radius: 70px;
    background-color:var(--hot-pink-color);
    box-shadow: var(--shadow);
    cursor: pointer;
}

.popup-dropdown-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size:1rem;
    font-weight: 500;
    color:var(--white-color);
    padding:1.2rem 1.5rem;
}
.popup-dropdown-list{
    position: absolute;
    top:4rem;
    left:0;
    width:100%;
    border-radius: 25px;
    max-height: 0;
    overflow: hidden;
    background-color:var(--hot-pink-color);
    transition:max-height 0.5s;
}
#popup-list.show{
    max-height: 300px;
}
.popup-dropdown-list-item{
    font-size:0.9rem;
    font-weight: 500;
    padding:1rem 0 1rem 1.5rem;
    cursor:pointer;
    color:var(--drop-down-color);
    transition: margin-left 0.2s ease, color 0.2s ease;
}

.popup-dropdown-list-item:hover{
    margin-left:0.5rem;
    color:var(--white-color);
}