@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
:root {
    --max-width: 1280px;
    --middle-width:720px;
    /*--pink-color: #F7C8E0;*/
    --pink-color: #FFA3FD;
    --light-hot-pink-color: #ffa9d1;
    --hot-pink-color: #ff5fad;
    --light-gray : #cbcbcb;
    --login-form-background: #FFFFFF;
    --login-height: 700px;
    --side-nav-background: #FFFFFF;
    --side-nav-width: 230px;
    --main-content-padding-left: 300px;
    --main-content-padding-top: 100px;
    --main-content-min-width: 900px;
    --review-article-gap: 30px;
    --review-article-width: 500px;
    --review-article-height: 400px;
    --search-btn-background: #0c70f2;
    --search-btn-color: #ffffff;
    /* index페이지 */
    --welcome-background: #d2d2d2;
    --primary-color: #07afd9;
    --ellipsis-color: #b2b2b2;
    --article-list-background:#FFFFFF;
    --white-color: #FFFFFF;
    --black-color:#000000;
    --drop-down-color: #1f1f1f;
    --shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    /* sideNav */
    --side-nav-border-color : #9b9b9b;
    /* 에러*/
    --error-color : #ff2f2f;

    --light-pink-background-color: #fffcfc;
    /*팔로우 팝업*/
    --follow-popup-background : #f9f9f9;
    --block-background: #efefef;
    --follow-popup-max-width: 540px;
    --profile-message-color: #8c8c8c;
    --follow-search-input-underline-color : #b2b2b2;
    --ellipsis-text-color: #2a2a2a;

    /* 댓글 및 대댓글*/
    --textarea-color: #212121;
    --textarea-border-bottom-color:#a2a2a2;
    --textarea-placeholder-color:#5b5b5b;
    --comment-cancel-btn-background:none;
    --comment-cancel-btn-hover-background:#d7d7d7;
    --comment-btn-background:#f2f2f2;
    --comment-btn-color:#9090aa;
    --comment-btn-active-color:#FFF;
    --comment-date-info-color:#737373;
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family:'Lato', 'Noto Sans KR', sans-serif;
}
body::-webkit-scrollbar {
    /* 스크롤바 전체 */
    width: 8px; height: 8px;
    background-color: #dbdbdb;
}
body::-webkit-scrollbar-thumb {
    /* 스크롤 막대 */
    background-color: #464646;
    /* width: 8px; */
    border-radius: 10px;
}
body::-moz-focus-inner {
    /* 스크롤 막대 외부 */
}

* {
    box-sizing: border-box;
}

fieldset,
img {
    border: 0;
    margin: 0;
    padding: 0;
}

input {
    margin: 0;
    padding: 0;
    background-color: inherit;
    border: unset;
    color: inherit;
    font: inherit;
    outline: none;
}

ul,
ol,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

table,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
}

figure {
    /* 이미지 그룹화 하는 태그 */
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: unset;
    font-weight: unset;
    margin: 0;
    padding: 0;
}

dl,
dt,
dd,
p {
    margin: 0;
    padding: 0;
}

a:link,
a:visited,
a {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

address {
    font-style: normal;
    font-size: unset;
    font-weight: unset;
}

small {
    font-size: unset;
    font-weight: unset;
}

hr {
    display: none;
}

.hidden {
    position: absolute;
    left: -999999px;
}

button {
    margin: 0;
    padding: 0;
    background-color: inherit;
    border: unset;
    color: inherit;
    font: inherit;
    outline: none;
}

img{
    object-fit: cover;
}