#content.articlePage {
    width:100%;
    /*max-width: var(--max-width);*/
    /*min-width: var(--main-content-min-width);*/
    /*padding-left: var(--main-content-padding-left);*/
    /*padding-top: var(--main-content-padding-top);*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: var(--block-background);
}
#review-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* 음식점 정보란 */
#restaurantWrap {
    width: 100%;
    display: flex;
    gap: 20px;
    background: var(--white-color);
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    z-index: 1;
}

.restaurantInfo {
    margin:0 auto;
    width:var(--middle-width);
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom:15px;
}
.restaurantInfo .restaurant-title-wrap{
    padding-top:50px;
    display: flex;
    align-items: center;
}
.restaurant-title-wrap button{
    background: var(--pink-color);
    border-radius: 5px;
    color:var(--white-color);
    display: flex;
    align-items: center;
    cursor: pointer;
    padding:5px 10px;
    margin-left:10px;
}
.restaurant-title-wrap ion-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:5px;
}
.restaurantInfo .restaurant-title{
    font-size: 2rem;

}
.restaurantInfo .restaurant-etc{
    color: #888888;
    font-size: 1.2rem;
}


#article-wrap{
    width:var(--middle-width);
    margin: 0 auto;
    background: var(--white-color);
    padding:10px;
}


/* 글쓴이 정보 */
.writerInfo {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-size: 16px;
}
.writerInfo .writerProfileImg {
    width: 70px; height: 70px;
    border-radius: 100%;
    border: 1px solid #000;
    background-color: var(--light-gray);
    overflow: hidden;
}
.writerInfo .writerProfileImg img {
    width: 100%; height: 100%;
}
.writerInfo .written {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.writerInfo .written .writerNickName {
    font-size: 1.2rem;
}
.writerInfo .written .writerName{
    font-size: 0.8rem;
}
.writerInfo .written .writtenAt {
    font-size: 0.8rem;
}

/* 글 본문 */
.contentWrap {
    overflow: hidden;
    /*max-width: 600px;*/
    width: 80%;
    margin: 0 auto;
    display: flex; flex-direction: column;
    gap: 10px;
}
.contentWrap .bImgWrap {
    position:relative;
    width: 100%; height: 500px;
}
.contentWrap .bImgWrap:hover .drag-info{
    display: flex;
}
.drag-info{
    position: absolute;
    top:0;
    left:0;
    /*transform:translateY(-50%) translateX(-50%);*/
    width:560px;
    height:500px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    color:var(--white-color);
}
.drag-info::before{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
}
.drag-info span{
    z-index: 1;
    font-size: 1.2rem;
}
.drag-info div{
    z-index: 1;
}
.drag-info .fa-arrow-left-long{
    margin-right: 20px;
    font-size: 2rem;
}
.drag-info .fa-arrow-right-long{
    font-size: 2rem;
}
.drag-info .fa-hand-pointer{
    z-index: 1;
    font-size: 2rem;
}


.contentWrap .bImg {
    width: 100%; height: 100%;
    display: flex;
    background-color: var(--white-color);
    align-items: center;
    overflow: hidden;
}
.contentWrap .bImg li {
    width: 100%; height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contentWrap .bImg li img {
    /*width: 100%;*/
    /*height: 100%;*/
}

/*  좋아요 & 태그 */
.likeAndTag {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:10px;
}
.likeAndTag .likeWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.likeAndTag .likeWrap .likeBtn {
    display: block;
    width: 20px; height: 20px;
    text-indent: -9999px;

    background: url("/img/button/loveBtn.png") no-repeat center / contain;
    cursor: pointer;
}
.likeAndTag .likeWrap .isLikedArticle{
    background: url("/img/button/loveBtn_Fill.png") no-repeat center / contain;
}
.likeAndTag .likeWrap .likeNum {
    font-size: 10px;
}

.tagWrap {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    gap:8px;
}
.tag-box{
    padding:5px 12px 5px 12px;
    border-radius: 5px;
    background: var(--hot-pink-color);
    color:var(--white-color);
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: normal;
}

