

.contentWrap {
    width: 100%; height: 600px;
}
.contentWrap .bImg {
    width: 100%; height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.contentWrap .bImg li {
    width: 100%; height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.contentWrap .bImg li img {
    width: 100%; height: 100%;
}
.contentWrap .bImg li.ionImg {
    border: 1px solid var(--light-gray);
    color: var(--light-gray);
    background-color: #000;
    opacity: 0.5;
}
.contentWrap .bImg li ion-icon {
    font-size: 70px;
    color: var(--white-color);
}