#content.articlePage {
    width:100%;
    max-width: var(--max-width);
    min-width: var(--main-content-min-width);
    padding-left: var(--main-content-padding-left);
    padding-top: var(--main-content-padding-top);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#articleWrap {
    position: relative;
    margin: 0 auto;
    width: var(--middle-width);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}
/* 글쓴이 정보 */
#articleWrap .writerInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-size: 16px;
}
.writerInfo .writerProfileImg {
    width: 100px; height: 100px;
    border-radius: 100%;
    border: 1px solid #000;
    background-color: var(--light-gray);
    overflow: hidden;
}
.writerInfo .writerProfileImg img {
    width: 100%; height: 100%;
}
.writerInfo .written {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.writerInfo .written .writerNickName {
    font-size: 24px;
}
.writerInfo .written .writtenAt {
    font-size: 16px;
}

/* 글 본문 */
.contentWrap {
    overflow: hidden;
    max-width: 600px;
    margin: 0 auto;
    display: flex; flex-direction: column;
    gap: 10px;
}
.contentWrap .bImg {
    width: 300%;
    display: flex;
    background-color: var(--black-color);
    align-items: center;
}
.contentWrap .bImg li {
    width: 100%;
}
.contentWrap .bImg li img {
    width: 100%;
}
/*  좋아요 & 태그 */
.likeAndTag {
    display: flex;
    align-items: center;
    gap: 15px;
}
.likeAndTag .likeWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.likeAndTag .likeWrap .likeBtn {
    display: block;
    width: 16px; height: 16px;
    text-indent: -9999px;
    background: url("/img/button/loveBtn.png") no-repeat center / contain;
    cursor: pointer;
}
.likeAndTag .likeWrap .isLikedArticle{
    background: url("/img/button/loveBtn_Fill.png") no-repeat center / contain;
}
.likeAndTag .likeWrap .likeNum {
    font-size: 10px;
}

/* 더보기 버튼 */
.ellipsis-btn-wrap{
    position:absolute;
    top:10px;
    right:0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.ellipsis-btn-wrap .ellipsis-btn{
    font-size:  30px;
    cursor: pointer;
}
.ellipsis-btn-wrap .ellipsis-content{
    display: none;
}
.ellipsis-btn-wrap .active{
    display: flex;
    background: #FFFFFF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid var(--ellipsis-color);
    border-radius: 20px;
    z-index: 2;
}
.ellipsis-btn-wrap .active > li{
    width:150px;
    line-height:50px;
    text-align: center;
    border-bottom:1px solid var(--ellipsis-color);
}
.ellipsis-btn-wrap .active > li:last-child{
    border-bottom:0px;
}

/* 음식점 정보란 */
#restaurantWrap {
    border-top: 1px solid #808080;
    width: 100%; height: 500px;
    padding: 20px;
    display: flex;
    gap: 20px;
}
#restaurantWrap .rMap {
    width: 500px; height: 400px;
    border: 1px solid #000;
}
.restaurantInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.restaurantInfo .rTitleWrap {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 10px 0;
}
.restaurantInfo .rTitleWrap .rTitle {
    font-size: 24px;
    font-weight: 600;
}
.restaurantInfo .rTitleWrap .rSearch {
    background-color: var(--hot-pink-color);
    color: var(--search-btn-color);
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

