#content {
    max-width: 640px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#content h2 {
    font-size: 40px;
    margin-top:50px;
}

#writeForm {
    display: flex;
    flex-direction: column;
    /*gap: 10px;*/
    width: 100%;
}
#writeForm .inputBox {
    width: 100%;
}
.restaurant-name{
    margin-top:10px;
    font-size: 16px;
    padding:10px;
    border:2px solid var(--hot-pink-color);
    /*background: #f3f3f3;*/
    border-radius: 5px;
}
.content-title{
    margin:10px 0;
    font-size: 21px;
}
/*#writeForm .inputBox > * {*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*}*/
/*#writeForm .inputBox input[type=text],*/
/*#writeForm .submitBtn {*/
/*    width: 100%; height: 40px;*/
/*}*/
#writeForm .inputBox input[name=title],
    /*#writeForm .inputBox textarea {*/
    /*    border: 1px solid #000;*/
    /*    border-radius: 5px;*/
    /*}*/
textarea{
    width: 100%;
    resize: none;
    height: 59px;
    outline: none;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    max-height: 330px;
    caret-color: var(--hot-pink-color);
    border: 1px solid #bfbfbf;
    font-family : 'Lato', 'Noto Sans KR', sans-serif;
}
textarea::placeholder{
    color: #b3b3b3;
}
textarea:is(:focus, :valid){
    padding: 14px;
    border: 2px solid var(--hot-pink-color);
}
textarea::-webkit-scrollbar{
    width: 0px;
}

/* 리뷰 이미지 */
.image-input-box{
    width:100%;
}
.image-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-new-label{
    display: flex;
    align-items: center;
    justify-content: center;
    width:200px;
    height:50px;
    border-radius: 10px;
    background:var(--hot-pink-color);
    color:var(--white-color);
    cursor: pointer;
}
.image-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:10px;
    font-size: 24px;
}
/* 이미지 리스트 */
.img-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    width:100%;
    gap:10px;
    margin-left:10px;
    margin-top:10px;
}
.img-list .img-item{
    position: relative;
    width:200px;
    height:200px;
    background:center center / cover;
}
.img-list .img-item .remove-btn{
    position:absolute;
    top:0;
    right:0;
    font-size:32px;
}
.remove-btn ion-icon{
    color: var(--hot-pink-color);
}
.img-item .img-size{
    position: absolute;
    left:0;
    bottom:0;
    background:rgba(0,0,0,0.7);
    color:var(--white-color);
    padding:0.2rem 0.5rem;
}
#writeForm .tagBox {
    display: flex;
    margin-top:10px;
    font-size: 16px;
    padding:10px;
    border:2px solid var(--hot-pink-color);
    /*background: #f3f3f3;*/
    border-radius: 5px;
}
#writeForm .tagBox .tagWrap {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}
.tag-box{
    padding:5px 8px 5px 14px;
    border-radius: 5px;
    background: var(--hot-pink-color);
    color:var(--white-color);
    display: flex;
    align-items: center;
}
.tag-box .tag-remove-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:2px;
    font-size:21px;
    margin-left:5px;
    cursor: pointer;
}
.tag-input{
    margin-left:10px;
    width: 130px;
}

/*#writeForm .tagBox .tagWrap .tagSpan {*/
/*    width: 100%;*/
/*    white-space: nowrap;*/
/*}*/
/*#writeForm .tagBox .tagWrap .tagSpan button {*/
/*    color: #ff5fad;*/
/*    cursor: pointer;*/
/*}*/
/*#writeForm .tagBox input {*/
/*    width: 100%;*/
/*}*/

#writeForm .submitBtn {
    margin-top:10px;
    padding:10px 0;
    font-size:24px;
    background-color: var(--hot-pink-color);
    color: var(--white-color);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom:100px;
}