<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/css/reset.css"/>
  <link rel="stylesheet" href="/css/join/join.css"/>
</head>
<body>
<div id="wrap">
  <section class="section-wrap">
    <div class="login-form">
      <form action="#">
        <h1><a href="#"><img src="/img/logo/logo.png" alt="maturi"/></a></h1>
        <div class="inputBox">
          <input  type="text" required >
          <span>아이디(이메일)</span>
          <i></i>
        </div>
        <div class="inputBox">
          <input type="password" required>
          <span>비밀번호</span>
          <i></i>
        </div>
        <div class="inputBox">
          <input type="password" required>
          <span>비밀번호 확인</span>
          <i></i>
        </div>
        <div class="inputBox">
          <input type="password" required>
          <span>이름</span>
          <i></i>
        </div>
        <input type="submit" value="가입하기"/>
      </form>

    </div>
  </section>
</div>
</body>
</html>