<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/css/include/sideNav.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/myPage/myPage.css">
  <script src="/js/myPage.js" defer></script>
</head>
<body>
<!-- 네비게이션 -->
  <div id="sideNav">
    <h1 class="logo"><a href="#">Maturi</a></h1>

    <div id="gnbWrap">
      <h2 class="mProfileImg"><img src="/img/test/cat.png" alt="프로필 이미지"></h2>
      <div class="memberInfo">
        <h3 class="mName">김혜현</h3>
        <span class="mNick">@hyea._.hyun</span>
      </div>

      <nav id="gnb">
        <ul>
          <li><a href="#">리뷰 쓰기</a></li>
          <li><a href="#">지역 설정</a></li>
          <li><a href="#">팔로우/팔로잉</a></li>
        </ul>
      </nav>

      <div id="snb">
        <ul class="subContent">
          <li><a href="#">설정</a></li>
          <li><a href="#">로그아웃</a></li>
        </ul>

        <footer>
          <ul>
            <li>
              <span>김혜현</span>
              <span>오원택</span>
            </li>
            <li><a href="#">Github</a></li>
          </ul>

        </footer>
      </div>
    </div>
  </div>

<!-- 마이페이지 본문 -->
  <div id="coverImg">
    <img src="/img/test/cafeImg.jpg" alt="커버 사진">
  </div>
  <div id="content">
    <div id="myPageInfo">
      <p class="mProfileImg"><img src="/img/test/cat.png" alt="프로필 이미지"></p>
      <div class="memberInfo">
        <h3 class="mName">
          김혜현
          (<span class="mNick">@hyea._.hyun</span>)
        </h3>
        <p class="mProfile">인생은 고기서 고기 :)</p>
      </div>
      <div class="memberBtn">
        <span class="moreBtn">더보기</span>
        <ul>
          <li><a href="#">프로필 편집</a></li>
          <li><a href="#">신고하기</a></li>
          <li><a href="#">차단하기</a></li>
        </ul>
      </div>
    </div>

<!--  리뷰글 공간 -->
    <div id="reviewWrap">
      <div class="reviewArticle"></div>
      <div class="reviewArticle"></div>
    </div>
  </div>
</body>
</html>