<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/css/pupup_dropdown_test.css">
</head>
<body>
<form class="popup-dropdown-wrap">

    <div class="popup-dropdown">
        <div id="popup-drop-text" class="pop-dropdown-text">
            <span id="popup-search-cond">선택안함</span>
            <i id="icon" class="fa-solid fa-chevron-down"></i>
        </div>
        <ul id="popup-list" class="pop-dropdown-list">
            <li class="pop-dropdown-list-item">전체</li>
            <li class="pop-dropdown-list-item">글 내용</li>
            <li class="pop-dropdown-list-item">작성자</li>
            <li class="pop-dropdown-list-item">해시태그</li>
        </ul>
    </div>


    <select class="popup-dropdown-select">
        <option class="popup-dropdown-option">선택</option>
        <option class="popup-dropdown-option">선택</option>
        <option class="popup-dropdown-option">선택</option>
        <option class="popup-dropdown-option">선택</option>
    </select>

</form>
</body>
</html>
