<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:placeholder="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/mainBase}">
<head>
    <title>게시판</title>
    <link rel="stylesheet" href="/css/article/article/article.css">
    <!--    <link rel="stylesheet" href="/css/article/article/comment.css">-->
    <link rel="stylesheet" href="/css/article/article/comments.css">
    <link rel="stylesheet" href="/css/article/article/articleRestaurantPopup.css">
</head>
<body>
<!-- 상세페이지 본문 -->
<div layout:fragment="main" id="content" class="articlePage">
    <div id="review-container" th:attr="data-articleid=${article.id}">
        <!--      음식점 정보 -->
        <div id="restaurantWrap">
            <div class="restaurantInfo">
                <div class="restaurant-title-wrap">
                    <h4 class="restaurant-title" th:text="${restaurant.name}">음식점명</h4>
                    <button onclick="restaurantMapPopupToggle()">
                        <ion-icon name="map"></ion-icon>
                        지도로보기
                    </button>
                </div>

                <p class="restaurant-etc">
                    <span th:text="${restaurant.category}">카테고리</span>&nbsp;&nbsp;
                    <span th:text="${restaurant.oldAddress}">주소</span>
                </p>
            </div>
        </div>

        <div id="article-wrap">
            <div id="my-article-wrap">
                <!--    글쓴이 정보 -->
                <div class="writerInfo">
                    <a class="writerProfileImg" th:href="|/members/${article.memberId}|">
                        <img th:if="${article.profileImg != null && #strings.contains(article.profileImg,'://')}"
                             th:src="${article.profileImg}" alt="프로필 이미지">
                        <img th:unless="${article.profileImg == null || #strings.contains(article.profileImg,'://')}"
                             th:src="|${article.profileImg}|" alt="프로필 이미지">
                        <img th:if="${article.profileImg == null}" src="/img/profileImg/default_profile.png"
                             alt="기본 이미지">
                    </a>
                    <p class="written">
                        <a th:href="|/members/${article.memberId}|">
                            <span class="writerNickName" th:text="${article.nickName}">@user-nick</span>
                            <span class="writerName" th:text="|(${article.name})|">김혜현</span>
                        </a>
                        <span class="writtenAt" th:text="${article.date}">2023.03.12</span>
                    </p>
                    <!--     리뷰글 더보기 버튼 -->
                    <div class="ellipsis-btn-wrap">
                        <span class="ellipsis-btn" onclick="ellipsisToggle(this)">
                            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                        </span>
                        <form th:action="|/articles/${article.id}|" th:method="delete" name="deleteForm"></form>
                        <ul class="ellipsis-content">
                            <!--자기 자신의 게시글 상세페이지에 들어왔을 경우-->
                            <th:block th:if="${article.memberId == member.id}">
                                <li>
                                    <div>
                                        <ion-icon name="git-compare-outline"></ion-icon>
                                        <a th:href="|/articles/${article.id}/edit|">게시글 수정</a>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <ion-icon name="trash-outline"></ion-icon>
                                        <a href="#" th:articleId="${article.id}"
                                           th:onclick="deleteArticle(this.getAttribute('articleId'))">게시글 삭제</a>
                                    </div>
                                </li>
                            </th:block>

                            <!--다른 사람의 게시글 상세 페이지에 들어왔을 경우-->
                            <th:block th:unless="${article.memberId == member.id}">
                                <!--팔로잉하지 않은 유저의 마이페이지에 들어왔을 경우-->
                                <li class="followingBtnWrap" th:unless="${article.followingMember}">
                                    <div th:memberId="${session.memberId}"
                                         th:articleMemberId="${article.memberId}"
                                         th:articleMemberNickName="${article.nickName}"
                                         th:onclick="ArticleFollowing(this.getAttribute('memberId'),
                                           this.getAttribute('articleMemberId'),
                                           this.getAttribute('articleMemberNickName'))">
                                        <ion-icon name="person-add-outline"></ion-icon>
                                        <span>팔로잉</span>
                                    </div>
                                </li>
                                <!--팔로잉한 유저의 마이페이지에 들어왔을 경우-->
                                <li class="followingBtnWrap" th:if="${article.followingMember}">
                                    <div th:memberId="${session.memberId}"
                                         th:articleMemberId="${article.memberId}"
                                         th:articleMemberNickName="${article.nickName}"
                                         th:onclick="articleFollowCancel(this.getAttribute('memberId'),
                                           this.getAttribute('articleMemberId'),
                                           this.getAttribute('articleMemberNickName'))">
                                        <ion-icon name="person-remove-outline"></ion-icon>
                                        <span>팔로잉 취소</span>
                                    </div>
                                </li>
                                <!--신고하기-->
                                <li>
                                    <div th:articleId="${article.id}"
                                         th:onclick="reportArticle(this.getAttribute('articleId'))">
                                        <ion-icon name="warning-outline"></ion-icon>
                                        <a>신고하기</a>
                                    </div>
                                </li>
                                <!--차단하기-->
                                <li>
                                    <div th:articleMemberId="${article.memberId}"
                                         th:articleMemberNickName="${article.nickName}"
                                         th:onclick="blockMemberAndHref(this.getAttribute('articleMemberId'),
                                            this.getAttribute('articleMemberNickName'))">
                                        <ion-icon name="ban-outline"></ion-icon>
                                        <a>차단하기</a>
                                    </div>
                                </li>
                            </th:block>
                        </ul>
                        <!--form에서 method:delete방식으로 전송하기 위한 방법-->
                        <form name="articleUpdateForm" method="post">
                            <input type="hidden" name="_method" value="delete"/>
                        </form>
                    </div>
                </div>
                <!--    글 본문 -->
                <div class="contentWrap">
                    <div class="bImgWrap">
                        <ul class="bImg">
                            <li th:each="img: ${article.image}"><img th:src="|${img}|" alt="사진"></li>
                        </ul>
                        <div class="drag-info">
                            <span>좌우로 드래그하세요</span>
                            <div>
                                <i class="fa-solid fa-arrow-left-long"></i>
                                <i class="fa-solid fa-arrow-right-long"></i>
                            </div>
                            <i class="fa-regular fa-hand-pointer"></i>
                        </div>
                    </div>
                    <p class="bContent" th:text="${article.content}">리뷰 글 내용</p>
                </div>
                <!--    좋아요 & 태그 -->
                <div class="likeAndTag">
                    <span class="likeWrap">
                      <span class="likeBtn isLikedArticle" th:if="${article.isLiked()}">좋아요</span>
                      <span class="likeBtn" th:unless="${article.isLiked()}">좋아요</span>
                      <span class="likeNum" th:text="${article.like}">20</span>
                    </span>

                    <div class="tagWrap" th:each="tag: ${article.tags}">
                        <span class="tag-box">
                            <span th:text="${tag}">#태그1</span>
                        </span>
                    </div>
                    <span class="count-wrap">
                        <ion-icon name="eye-outline"></ion-icon>
                        <span th:text="${article.views}">12</span>
                    </span>
                </div>

                <!--  댓글 -->
                <div id="comments-wrap">
                    <!--새로운 댓글을 작성할 form역할을 하는 곳-->
                    <div class="comment-form-container ref-1">
                        <div class="comment-form-left-wrap" th:onclick="|location.href='/members/${member.id}'|">
                            <img th:if="${member.profileImg != null && #strings.contains(member.profileImg,'://')}"
                                 th:src="${member.profileImg}" alt="프로필 이미지">
                            <img th:unless="${member.profileImg == null || #strings.contains(member.profileImg,'://')}"
                                 th:src="|${member.profileImg}|" alt="프로필 이미지">
                            <img th:if="${member.profileImg == null}" src="/img/profileImg/default_profile.png"
                                 alt="기본 이미지">
                        </div>
                        <div class="comment-form-right-wrap">
                            <div class="textarea-wrap">
                                <textarea
                                        oninput="commentKeyUp(this)"
                                        onclick="showCommentBtn(this)"
                                        placeholder="댓글추가..."></textarea>
                                <span class="textarea-under-line"></span>
                            </div>
                            <div class="comment-btn-wrap">
                                <button onclick="cancelCommentBtn(this)" class="cancel-btn">취소</button>
                                <button onclick="commentCreate(this)" class="comment-btn">댓글</button>
                            </div>
                        </div>
                    </div>
                    <!--전체 댓글 및 대댓글들을 출력-->
                    <div id="comments-replys-container">
                        <!--ajax로 가져옴-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="restaurant-map">
    <div id="restaurantMapPopup">
        <div id="restaurantMapPopupContent">
            <div class="rMap" id="articleMap"
                 th:attr="data-lat=${restaurant.latitude}, data-long=${restaurant.longitude}"></div>
            <div id="popup-restaurant-info">
                <h4 class="restaurant-title" th:text="${restaurant.name}">음식점명</h4>
                <p class="restaurant-etc">
                    <span th:text="${restaurant.category}">카테고리</span>&nbsp;&nbsp;
                    <span th:text="${restaurant.oldAddress}">주소</span>
                </p>
            </div>
        </div>
        <div class="restaurant-map-popup-close-btn-wrap">
            <ion-icon class="popup-close-btn" onclick="restaurantMapPopupToggle()"
                      name="close-circle-outline"></ion-icon>
        </div>
    </div>
</th:block>

<!--my js-->
<th:block layout:fragment="scripts">
    <script th:inline="javascript">
        const articleId = [[${article.id}]]
        console.log("상세페이지의 articleId", articleId);
        const article = [[${article}]]
        console.log("상세페이지의 article 객체",article);
        const member = [[${member}]]
        console.log("상세페이지의 member 객체",member);
    </script>
    <script src="/js/articles/article/articleImgRatio.js"></script>
    <script src="/js/articles/article/article.js"></script>
    <script src="/js/articles/welcome/followAndDelete.js"></script>
    <script src="/js/articles/article/report.js"></script>
<!--        <script src="/js/articles/article/comment.js"></script>-->
    <script src="/js/articles/article/comment/comments.js"></script>
    <script src="/js/articles/article/comment/commentsRESTAPI.js"></script>
    <script src="/js/articles/articleMap.js"></script>
    <script src="/js/articles/article/articleRestaurantPopup.js"></script>
</th:block>

</body>
</html>