<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainBase}">
<head>
  <title>리뷰 쓰기</title>
  <link rel="stylesheet" href="/css/article/article/write.css"/>
</head>
<body>
  <div layout:fragment="main" id="content">
    <div class="content-wrap">
      <form name="writeForm" th:object="${article}" id="writeForm" enctype="multipart/form-data" th:attr="data-articleid=${article.id}">
        <div class="title-wrap">
          <h2>리뷰 수정하기</h2>
        </div>

        <div class="restaurant-info-wrap">
          <p th:text="*{restaurantName}" class="restaurant-name">맘스터치</p>
          <p class="restaurant-category">
            <span th:text="*{category}"></span>&nbsp&nbsp;
            <span th:text="|*{sido} *{sigoon} *{dong}|"></span>
          </p>
        </div>
        <p class="content-title">리뷰 내용</p>
        <div class="inputBox">
          <textarea class="bContent" name="content" th:text="*{content}" spellcheck="false" placeholder="리뷰내용을 입력하시오..." required></textarea>
        </div>


        <p class="content-title">리뷰 이미지</p>
        <div class="image-input-box">
          <div class="image-input">
            <input type="file" class="hidden" id="add-new-files" multiple="multiple">
            <label class="add-new-label" for="add-new-files">
              <ion-icon class="image-icon" name="images-outline"></ion-icon><span>이미지 추가</span>
            </label>
            <input type="file" class="old-files hidden"  name="image" id="old-files" multiple="multiple">
            <div class="total-file-size" >
              0 / 50MB
            </div>
          </div>
          <ul class="img-list" style="display:flex;">
            <th:block th:each="image : ${article.image}">
              <li class="img-item load-img-item" th:attr="data-image=${image}"
                  th:style="'background-image:url('+ ${image} +');'">
                <button class="remove-btn" type="button" onclick="removePreview(this);">
                  <ion-icon name="close-circle-outline"></ion-icon>
                </button>
                <span class="img-size">이미지 크기...</span>
              </li>
            </th:block>
          </ul>
        </div>

        <p class="content-title">해시 태그</p>
        <div class="inputBox tagBox">
          <div class="tagWrap">
            <th:block th:each="tag: ${article.tags}">
            <span class="tag-box">
                <span>[[${tag}]]</span>
                <button class="tag-remove-btn" onclick="removeTag(this);" type="button">
                    <ion-icon name="close-circle-outline"></ion-icon>
                </button>
            </span>
            </th:block>
            <input type="text" class="tag-input" name="tag" placeholder="#해시태그">
          </div>
          <input type="hidden" name="tags">
        </div>

        <input type="button" name="submitBtn" class="submitBtn" value="업로드">
      </form>
    </div>

  </div>

<th:block layout:fragment="scripts">
  <script src="/js/articles/write/write.js"></script>
  <script src="/js/articles/write/editWriteForm.js"></script>
  <script src="/js/articles/write/multipartFile.js"></script>
  <script th:inline="javascript">
    let imageSize = [[${article.imageSize}]];
    let imgSizeSpans = document.querySelectorAll('.img-size');
    let imgLis = document.querySelectorAll('.img-item');
    let imageSizeArr = imageSize.split(",");

    imageSizeArr.splice(imageSizeArr.length - 1);
    for(let i = 0 ; i < imageSizeArr.length; i++){
      imgSizeSpans[i].innerText = getByteSize(parseInt(imageSizeArr[i]));
      imgLis[i].setAttribute("data-size",imageSizeArr[i]);
      totalFileSize += parseInt(imageSizeArr[i]);
    }
    calFileSize = getByteSize(parseInt(totalFileSize));
    document.querySelector('.total-file-size').innerHTML = `${calFileSize} / 50MB`;
  </script>
</th:block>
</body>
</html>